td.col-url, td.col-img, td.col-link, td.col-script {
  max-width: 300px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  section.greeting {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
}

/* Tablets and small to medium desktops */
@media (min-width: 768px) and (max-width: 1199px) {
  section.greeting {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}

/* Landscape phones and smaller */
@media (max-width: 767px) {
  section.greeting {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}

/* Caterpillar icon by Nick Kinling from the Noun Project */
